@import '../bower_components/font-awesome/css/font-awesome.css';
@import '../bower_components/AdminLTE/bootstrap/css/bootstrap.css';
@import '../bower_components/AdminLTE/dist/css/AdminLTE.css';
@import '../bower_components/AdminLTE/dist/css/skins/skin-blue.css';

.wrapper {
  overflow-y: visible;
}

.content-wrapper {
  position: relative;
  transition: transform 0.4s;

  > .content-wrapper-inner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ecf0f5;

    > .content {
      display: none;
      height: calc(100% - 35px);

      .box {
        height: calc(100% - 20px);
      }

      .box-body {
        height: 100%;
        flex: 1;
      }
    }
  }
}

.content-wrapper[show=udf] {
  transform: translateX(0);
}
.content-wrapper[show=udf] > #section-udf > .content {
  display: block;
}

.content-wrapper[show=proxy] {
  transform: translateX(-100%);
}
.content-wrapper > #section-proxy {
  left: 100%;
}
.content-wrapper[show=proxy] > #section-proxy > .content {
  display: block;
}

.content-wrapper[show=quotes] {
  transform: translateX(-200%);
}
.content-wrapper > #section-quotes {
  left: 200%;
}
.content-wrapper[show=quotes] > #section-quotes > .content {
  display: block;
}

.content-wrapper[show=feed] {
  transform: translateX(-300%);
}
.content-wrapper > #section-feed {
  left: 300%;
}
.content-wrapper[show=feed] > #section-feed > .content {
  display: block;
}

table {
  font-size: small;
}

table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.change-up {
  color: #00a65a;
}

.change-down {
  color: #dd4b39;
}

#udf-table th:nth-child(n+5),
#udf-table td:nth-child(n+5) {
  text-align: right;
}

@import '../node_modules/fixed-data-table/dist/fixed-data-table.css';
@import 'sections/fixtable.scss';
